.content
{
    background-color: rgb(253, 250, 250);
    height: 100%;
    overflow: hidden;  /*if you don't want #second to wrap below #first */
}

.odjava {
    position:absolute;
    top:0;
    right:0;
}