<app-form-container>
    <h2>Pretraga prilozenih prijava</h2>
    <form [formGroup]="searchForm">
        <div [class.disabled]="searchPending">
            <mat-form-field class="uska" appearance="fill" id="inline">
                <mat-label>&</mat-label>
                <mat-select formControlName="operator1">
                  <mat-option *ngFor="let op of operatori" [value]="op">
                    {{op}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field id="inline">
                <mat-label>Ime</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="ime">
                <mat-error>
                    Unesite ime!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="uska" appearance="fill" id="inline">
                <mat-label>&</mat-label>
                <mat-select formControlName="operator2">
                  <mat-option *ngFor="let op of operatori" [value]="op">
                    {{op}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field id="inline">
              <mat-label>Prezime</mat-label>
              <input 
              matInput 
              autocomplete="off"
              formControlName="prezime">
              <mat-error>
                  Unesite prezime!
              </mat-error>
            </mat-form-field>

            <mat-form-field class="uska" appearance="fill" id="inline">
                <mat-label>&</mat-label>
                <mat-select formControlName="operator3">
                  <mat-option *ngFor="let op of operatori" [value]="op">
                    {{op}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" id="inline">
                <mat-label>Stepen strucne spreme</mat-label>
                <mat-select formControlName="stepen">
                  <mat-option *ngFor="let stepen of stepeni" [value]="stepen">
                    {{stepen}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  Unesite stepen strucne spreme!
                </mat-error>
            </mat-form-field>
            <mat-form-field id= "block">
                <mat-label>Sadrzaj propratnog pisma</mat-label>
                <input 
                matInput
                autocomplete="off"
                formControlName="sadrzaj">
            </mat-form-field>             
        </div>
        <br>
        <app-center-container>
            <button 
            *ngIf="!searchPending"
            mat-raised-button 
            color="primary"
            (click)="search()">Pretraga</button>
            <app-spinner-button *ngIf="searchPending"></app-spinner-button>
        </app-center-container>
    </form>
</app-form-container>

<div>
  <h2>Rezultati pretrage</h2>
  <table mat-table [dataSource]="rezultati" class="mat-elevation-z8">
      <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef>Datum prijave </th>
          <td mat-cell *matCellDef="let element"> {{element.datum | date : "dd.MM.y"}} </td>
      </ng-container>
      
      <ng-container matColumnDef="ime">
          <th mat-header-cell *matHeaderCellDef> Ime </th>
          <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
      </ng-container>
  
      <ng-container matColumnDef="prezime">
          <th mat-header-cell *matHeaderCellDef> Prezime </th>
          <td mat-cell *matCellDef="let element"> {{element.prezime}} </td>
      </ng-container>

      <ng-container matColumnDef="stepen">
          <th mat-header-cell *matHeaderCellDef> Stepen obrazovanja </th>
          <td mat-cell *matCellDef="let element"> {{element.stepen}} </td>
      </ng-container>

      <ng-container matColumnDef="sazetak">
        <th mat-header-cell *matHeaderCellDef> Sazetak </th>
        <td mat-cell *matCellDef="let element"> {{element.sazetak}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>